nav-link, .nav-link--active {
    color: black;
  }
  
  .nav-link--active {
    font-weight: bold;
    text-decoration: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

   